/* about us */

.about-us-container{
    margin-top: 5rem;
    padding: 3rem 1rem 200px;
}
.about-us-container h4{
    text-align: center;
    color: #333;
}

.about-us, .mission-vision {
    background-color: var(--white);
    text-align: left;
    color: #555;
}
.about-us .container, .mission-vision .container, .why-choose{
    background: var(--white);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}
.about-us strong { 
    color: var(--primary);
}


/* Milestones */
.milestones {
    padding: 40px 20px;
    text-align: center;
}
.milestone-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.milestone {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}
.milestone p {
    color: #555;
}

/* Core Values */
.core-values {
    text-align: center;
    background-color: var(--white);
    margin-bottom: 1rem;
}
.values-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}
.value {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.value img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}
.value p, .why-choose p {
    color: #555;
}
.why-choose{
    justify-self: center;
}
.why-choose a{
    text-decoration: none
}


/* Responsive Design */
@media (max-width: 768px) {
    .about-us-container{
        padding: 1rem 1rem 150px;
    }
    .about-us h1 {
        font-size: 2rem;
    }
    .milestone, .value {
        width: 100%;
    }
}

@media (min-width: 814px) and (max-width: 963px) {
    .values-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }  
}
@media (min-width: 964px) and (max-width: 1034px) {
    .values-grid {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }  
}