    /* Services container */
.fund-wallet-container {
    padding: 1rem;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.fund-wallet-container p {
    font-size: 0.99rem;
    margin: 0  3px 1rem;
    text-align: left;
}

/* Anchor tag styling for the entire service item */
a.fund-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-decoration: none;
    color: inherit;
}

a.fund-option:hover {
    background-color: #f0f0f0;
}

/* Service item layout */
.icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    margin-right: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.icon img {
    max-width: 100%;
    height: auto;
}


.details {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; /* Align text to the left */
    justify-content: center;
    flex-grow: 1;
}

.details span {

    font-size: 1rem;
    color: #146EF5; 
}

.details p {
    font-size: 0.9rem;
    color: #555;
    margin:0;
}


/* Chevron Icon */
.chevron {
    margin-left: auto;
    border: solid #ccc;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg); /* By default: pointing down */
    transition: transform 0.3s ease;
}

/* Hover effect for chevron */
a.fund-option:hover .chevron {
    border: solid var(--primary); 
    margin-left: auto;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg); 
    transition: transform 0.3s ease;
}

/* Responsive design */
@media (max-width: 768px) {
    a.fund-option {
        flex-direction: row;  /* Ensures layout remains horizontal on smaller screens */
        align-items: center;
    }

    .icon {
        margin-bottom: 0;
    }

    .details {
        padding-left: 0;
    }

    .arrow {
        margin-top: 0;
    }
}