:root {
    --primary: #146EF5;
    --light-blue-accent: #D9EBFD5C; /* rgba(217, 235, 253, 0.36) */
    --secondary: #f6a74a;
    --white: #ffffff;
    --gray: #333;
    --gray-light: #f7f7f7;
    --gray-dark: #555;
    --dark: #121212;
    --maybe-accent: #e0e0e0;

    --box-shadow-light: rgba(0, 0, 0, 0.07);
    --box-shadow-medium: rgba(0, 0, 0, 0.1);
    --box-shadow-dark: rgba(0, 0, 0, 0.2);
    --border-radius: 8px;
    --transition: all 0.3s ease;
}

/* Global Styles */
body {
   
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: open-sans, sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden; /* it will prevent horizontal scrolling */
    box-sizing: border-box; /* it will ensure padding and border are included in width/height */
}

*, *::before, *::after {
    box-sizing: inherit;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.support-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}
.support-link {
    font-size: 1rem;
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s ease;
}
.support-link:hover {
    color: #0b4fb8;
    text-decoration: underline;
}

